# IntelliJ IDEA
.idea/
*.iml
/shelf/
/workspace.xml
/httpRequests/
/dataSources/
/dataSources.local.xml

# Maven
target/

# Environment variables
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Compiled files
*.class

# Build archives
*.war
*.jar
*.ear